.breadcrumb {
    text-align: center;
    display: inline-block;
    box-shadow: 0 2px 5px rgba(0,0,0,0.25);
    overflow: hidden;
    border-radius: 5px;
    counter-reset: flag;
}

.breadcrumb__step:first-child {
    /* padding-left: 46px; */
    border-radius: 5px 0 0 5px;
}

.breadcrumb__step--active {
    color: #fff;
    background: #0288D1;
    padding: 0 10px 0 30px !important;
}

.breadcrumb__step:hover:after {
    background-color: #CFD8DC;
    cursor: pointer;
}

.breadcrumb__step:hover {
    background-color: #CFD8DC;
    cursor: pointer;
}

.breadcrumb__step {
    text-decoration: none;
    outline: none;
    display: block;
    float: left;
    font-size: 12px;
    line-height: 36px;
    padding: 0 10px 0 10px;
    position: relative;
    background: #fff;
    color: #0288D1;
}

.breadcrumb__step:first-child::before {
    left: 14px;
}
.breadcrumb__step--active::before {
    color: rgb(255,110,64);
}
/* .breadcrumb__step::before {
    content: counter(flag);
    counter-increment: flag;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin: 8px 0;
    position: absolute;
    top: 0;
    left: 30px;
    font-weight: bold;
    background: #fff;
    box-shadow: 0 0 0 1px #0288D1;
} */

.breadcrumb__step--active::after {
    background: rgb(255,110,64);
}

.breadcrumb__step::after {
    content: '';
    position: absolute;
    top: 0;
    right: -18px;
    width: 36px;
    height: 36px;
    transform: scale(0.707) rotate(45deg);
    z-index: 1;
    border-radius: 0 5px 0 50px;
    background: #fff;
    box-shadow: 2px -2px 0 2px rgb(255,110,64);
}